/* Navbar Styles When Scrolled */
.navbar.scrolled {
    background-color: #1e6c92;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar.scrolled .logo a,
.navbar.scrolled .nav-links li a {
    color: #fff;
}

.navbar.scrolled .hamburger .bar,
.navbar.scrolled .hamburger .bar::before,
.navbar.scrolled .hamburger .bar::after {
    background-color: #fff;
}

/* Hamburger Animation */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 1500;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    position: relative;
    transition: all 0.3s ease;
}

.hamburger.toggle .bar {
    background-color: transparent;
}

.hamburger .bar::before,
.hamburger .bar::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: #333;
    transition: all 0.3s ease;
}

.hamburger .bar::before {
    transform: translateY(-8px);
}

.hamburger .bar::after {
    transform: translateY(8px);
}

.hamburger.toggle .bar::before {
    transform: rotate(-45deg);
}

.hamburger.toggle .bar::after {
    transform: rotate(45deg);
}
